# virtual environment
env

# node modules
node_modules

# pyc files
*.pyc

# built assets
static/js/bundle.js
static/js/bundle.js.map
static/css/*

# environment settings
project/local_settings.py

# django stuff
collected-static/
