# node modules
node_modules

# pyc files
*.pyc

# source maps
static/js/bundle.js.map
static/css/styles.css.map

# local environment settings
project/local_settings.py

# django stuff
collected-static/
