// =====================
// Theme the site navigation for 'painting' pages
// ==============================================

$navigation-border-grey: 1px solid $grey--accent;


.nav--grey.active {
	.topmenu__trigger {
		color: $orange--active;
	}

	.arrow {
		&::after {
			background: $orange--active;
		}
		&::before {
			background: $orange--active;
		}
	}
}

.nav {
	border-bottom: remcalc(2) solid $grey--accent; 

	@include mq(md) {
		border-bottom: none;
	}

	circle {
		stroke: $grey--accent;
	}

	.fill {
		fill: $grey--accent;
	}

	.stroke {
		stroke: $grey--accent;
	}

	circle {
		stroke: $grey--accent;
		fill: rgba(255,255,255,0);
	}

	.thumbhole {
		fill: $grey--primary;
	}

	.arrow {
		&::after {
			background: $grey--accent;
		}
		&::before {
			background: $grey--accent;
		}
	}

	@include e(item) { 
		border-bottom: remcalc(2) solid $grey--accent; 

		@include mq(md) {
			border-bottom: none;
		}
	}

	@include e(link) { 
		@include mq(lg) {
			// color: $nav-text--grey; 
		}

		&:hover, &:focus, &:active, &--current {
			@include mq(md, max) {
				color: $orange--active;
			}

			circle {
				stroke: $orange--active;
			}

			.fill {
				fill: $orange--active;

				@include m(onlyhover) {
					fill: $orange--active;					
				}
			}

			.stroke {
				stroke: $orange--active;
			}
		}
	}
	
	@include e(linkcircle) {
		@include mq(lg) {
			border: remcalc(2) solid lighten($grey--accent, 10%);
		}
	}
}
