// ====================================
// Utilities for Themes
// ===================================


// TODO - move all this stuff


$border--grey	: $grey--accent solid 1px;

$border--blue	: $blue--accent solid 1px;

$nav-text--blue	: darken($blue--accent, 5%);
