// =====
// Classes toggled in JS
// =====================

// sliding frontcover feature
.frontcover--down {
	top: 0;

	.nav {
		background-color: rgba(255,255,255,0);
		transform: none;
	}

	.nav__item {
		$blink-delay: 1s;

		@for $i from 2 through 4 {
			&:nth-child(#{$i}) {

				.nav__linkcircle {
					animation: orangeblink 1s #{$blink-delay} 1;
				}
			}

			$blink-delay: $blink-delay + 1s;
		}
	}	
}


body.is-noscroll {
	position: fixed; 
	width: 100%;
	overflow-y:scroll
}

// menu button for xs/sm
.nav.is-open-menu {
	.arrow {
		@include p-el(after) {
			@include transform(rotate(-45deg));
		}
		@include p-el(before) {
			@include transform(rotate(45deg));
		}
	}
}

// when lower menu is open on xs/sm
.nav.is-open-menu {
	.lowermenu {
		@include mq(sm, max) {
			height: 600px;
			height: calc(100vh - 65px);
			padding-top: 41px;
			visibility: initial;
			@include transition($tn-norm: height $nav-lowermenu-transition);
		}
	}
}

// when the nav slides up/down 
.nav.is-hidden-navbar {
	@include transform( translateY(-40px) );
	cursor: pointer; 

	.nav__button, .home-link {
		@include transition($tn-norm: opacity .4s);
		opacity: 0;
	}
	.topmenu, .lowermenu {
		display: none;
	}
	.nav__title {
		display: block;
	}
}