// =====
// Classes toggled in JS
// =====================

// region transitions
.js {
	&-move {
		display: flex;
	}
	
	&-move-left {
		width: 200%;
		right: initial;
		left: -100%;
		transition: left 1s;

		.region {
			width: 50%;
			flex-grow: 1;
		}
	}
	
	&-move-right {
		width: 200%;
		left: initial;
		right: -100%;
		transition: right 1s;

		.region {
			width: 50%;
			flex-grow: 1;
		}
	}
	
	&-move-up {
		height: 200%;
		bottom: initial;
		top: -100%;
		transition: top 1s;

		.region {
			height: 50%;
			flex-grow: 1;
		}
	}
	
	&-move-down {
		height: 200%;
		bottom: -100%;
		top: initial;
		transition: bottom 1s;

		.region {
			height: 50%;
			flex-grow: 1;
		}
	}
	
	&-fade {
		animation: fade-out-in 1s;
	}
	
	&-column {
		flex-direction: column;
	}
	
	&-column-reverse {
		flex-direction: column-reverse;
	}
	
	&-row-reverse {
		flex-direction: row-reverse;
	}
}
