// =====
// Classes toggled in JS
// =====================

// region transitions
.js {
	&-move-sideways {
		width: 200%;
		transition: left 1s;

		.region {
			width: 50%;
		}
	}

	&-move-vertical {
		height: 200%;
		transition: top 1s;

		.region {
			height: 50%;
		}
	}
	
	&-move-right {
		transform: translateX(-50%);
	}
	
	&-move-up {
		transform: translateY(-50%);
	}

	&-fade {
		animation: fade-out-in 1s;
	}
}
