// ================
// Sliding frontcover module
// =========================

$direction-offset: 20;
$direction-size-sm: 20;
$direction-size-md: 30;


%vertical-direction {
	left: calc(50% - 35px);
	@include sides( remcalc(70), remcalc(50) );

	.direction__text {
		left: remcalc(-35);
		width: remcalc(100);
		text-align: center;
	}

	&:hover {
		i {
			&:first-of-type {
				@include mq(lg) {
					transform: translate(10px,-10px) rotate(45deg);
				}
				
			}

			&:last-of-type {
				@include mq(lg) {
					transform: translate(-10px,10px) rotate(45deg);
				}
				
			}
		}
	}
}

%sideways-direction {
	top: 50%;
	// transform: translateY(-50%);

	&:hover {
		i {
			&:first-of-type {
				@include mq(lg) {
					transform: rotate(135deg);
				}
			}

			&:last-of-type {
				@include mq(lg) {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.directions {
	@include m(background) {
		.direction {
			background-color: $black-transparent;
		}
	}
}

.direction {
	display: block;
	position: fixed;
	z-index: $navigation-z-index;
	outline: none;
	// @include square( remcalc($direction-size-sm + 10) );
	color: $white;
	// opacity: 1;

	// background-color: red;
	// transition: background-color $regions-slide-duration / 2;

	@include mq(md) {
		// @include square( remcalc($direction-size-md + 10) );
	}

	&:hover {
		.direction__text {
			opacity: 1;
		}

		.direction__icon {
			&::after {
				@include mq(lg) {
					animation: none;
					opacity: 0;
				}
			}
		}
	}

	@include m(prev) {
		@extend %sideways-direction;
		left: remcalc(5);

		@include mq(lg) {
			left: remcalc($direction-offset);
		}

		.direction__text {
			left: 0;
		}

		.direction__icon {
			transform: rotate(-45deg);
		}
	}

	@include m(next) {
		@extend %sideways-direction;
		right: remcalc(5);		

		@include mq(lg) {
			right: remcalc($direction-offset);
		}

		.direction__text {
			right: 0;
		}
		
		.direction__icon {
			transform: rotate(135deg);
		}
	}

	@include m(up) {
		@extend %vertical-direction;
		top: 0;
		border-radius: 0 0 remcalc(10) remcalc(10);

		.direction__inner {
			margin: remcalc(5) auto 0;

			@include mq(lg) {
				margin-top: remcalc($direction-offset)
			}
		}
		
		.direction__icon {
			transform: rotate(45deg);
		}
	}

	&--down {
		@extend %vertical-direction;
		bottom: remcalc(35);

		@include mq(md) {
			bottom: remcalc(40);
		}

		@include mq(lg) {
			bottom: remcalc(80);
		}
		
		.direction__icon {
			transform: rotate(225deg);
		}
	}

	&__inner {
		display: block;
		position: relative;
		margin: 0 auto;
		@include square( remcalc($direction-size-sm) );

		@include mq(md) {
			@include square( remcalc($direction-size-md) );
		}
	}

	&__text {
		position: absolute;
		top: 0;
		line-height: remcalc($direction-size-md);
		opacity: 0;
		transition: opacity $transition-duration;
	}

	&__icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);		

		&::after {
			content: "";
			display: block;
			position: absolute;
		    top: remcalc(5.29);
		    left: remcalc(5.29);
			@include square(remcalc(12.5));
			background-image: url(/static/arrow.svg);
			animation: fade-in-out 1s infinite;
			transition: opacity $transition-duration;

			@include mq(sm, max) {
				background-size: remcalc(32);
			}

			@include mq(md) {
				top: remcalc(10);
			    left: remcalc(10);
				@include square(remcalc(17.5));
			}

			@include mq(lg) {
				top: remcalc(8.5);
			    left: remcalc(8.5);
			    @include square(remcalc(12.5));
			}
		}
	}

	i {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		background: url(/static/arrow-line.svg) no-repeat remcalc(-0.5);
		background-size: 160%;
		transition: transform $transition-duration;

		@include mq(md, max) {
			display: none;
		}

		@include mq(md) {
			background-size: cover;
		}

		&:first-of-type {
			transform: rotate(90deg);
		}
	}
}