// ================
// Sliding frontcover module
// =========================

$direction-offset: 20;
$direction-size: remcalc(30);

.direction {
	position: fixed;
	z-index: $navigation-z-index;
	outline: none;
	@include square($direction-size);
	color: $white;

	&:hover {
		.direction__text {
			opacity: 1;
		}

		.direction__icon {
			&::after {
				animation: none;
				opacity: 0;
			}
		}
	}

	@include m(side) {
		top: 50%;
		transform: translateY(-50%);

		&:hover {
			i {
				&:first-of-type {
					transform: rotate(135deg);
				}

				&:last-of-type {
					transform: rotate(-45deg);
				}
			}
		}
	}

	@include m(vert) {
		left: 50%;
		transform: translateX(-50%);

		.direction__text {
			left: remcalc(-35);
			width: remcalc(100);
			text-align: center;
		}

		&:hover {
			i {
				transform: translate(-10px,10px) rotate(45deg);

				&:first-of-type {
					transform: translate(10px,-10px) rotate(45deg);
				}
			}
		}
	}

	@include m(prev) {
		left: remcalc($direction-offset);

		.direction__text {
			left: 0;
		}

		.direction__icon {
			transform: rotate(-45deg);
		}
	}

	@include m(next) {
		right: remcalc($direction-offset);

		.direction__text {
			right: 0;
		}
		
		.direction__icon {
			transform: rotate(135deg);
		}
	}

	@include m(up) {
		top: remcalc($direction-offset);
		
		.direction__icon {
			transform: rotate(45deg);
		}
	}

	@include m(down) {
		bottom: remcalc($direction-offset * 4.5);
		
		.direction__icon {
			transform: rotate(225deg);
		}
	}

	@include e(inner) {
		display: block;
		position: relative;
		@include square(100%);
	}

	@include e(text) {
		position: absolute;
		top: 0;
		line-height: $direction-size;
		opacity: 0;
		transition: opacity $transition-duration;
	}

	@include e(icon) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);		

		&::after {
			content: "";
			display: block;
			position: absolute;
		    top: 50%;
		    left: 50%;
			@include square(remcalc(15));
			background-image: url(/static/arrow.svg);
			animation: fade-in-out 1s infinite;
			transform: translate(-50%,-50%);
			transition: opacity $transition-duration;
		}
	}

	i {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		background: url(/static/arrow-line.svg) no-repeat remcalc(-0.5);
		background-size: cover;
		transition: transform $transition-duration;

		&:first-of-type {
			transform: rotate(90deg);
		}
	}
}