// =================
// Style the accordion feature on 'Skills' page
// ============================================

$skills-content-hiddenheight: 100px;
$skills-content-padding: 30px;
$skills-heading-height: 85px;
$skills-background: $grey--accent;
$skills-content-background: lighten($skills-background, 25%);

.skillsfeature {
	background: #aeaeae;
	color: $white;

	@include mq(md) {
		box-shadow: 0 0 10px $black-transparent;
	}

	@include mq(lg) {
		margin: 0 auto;
		width: 85%;
	}

	@include e(skill) {
		background: $skills-content-background;

		&:first-child {
			.skillsfeature__title {
				box-shadow: none;
			}
		}

		@include m(current) {
			.skillsfeature__read {
				display: none;
			}

			.skillsfeature__close {
				@include mq(lg) {
					display: block;
				}
			}

			.skillsfeature__overlay {
				opacity: 0;
				transition: opacity $transition-duration;
			}
		}
	}

	@include e(heading) {
		
	}

	@include e(trigger) {
		display: block;
		position: relative;
		height: $skills-heading-height;
		line-height: $skills-heading-height;
		background: $skills-background;
		color: $white;
		transition: background $transition-duration;

		&:hover, &:focus {
			background: lighten($skills-background, 5%);
		}

		&:hover {
			.skillsfeature__tooltip {
				opacity: 1;
			}
		}
	}

	@include e(title) {
		margin: 0;

		@include mq(md) {
			box-shadow: 0 -5px 10px rgba(0,0,0,0.25);
		}
	}

	@include e(tooltip) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: $skills-heading-height;
		padding-right: 30px;
		line-height: $skills-heading-height;
		opacity: 0;
		transition: opacity $transition-duration;

		@include mq(md, max) {
			display: none;
		}
	}

	@include e(close) {
		display: none;
	}

	@include e(content) {
		position: relative;
		height: $skills-content-hiddenheight;
		overflow: hidden;
		text-align: left;
		transition: height $transition-duration * 2;
	}

	@include e(contentinner) {
		margin: 0 auto;
		padding: $skills-content-padding 0;

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include e(overlay) {
		position: absolute;
		top: 0;
	    left: 0;
		@include square(100%);
		opacity: 1;
		transition: opacity $transition-duration $transition-duration;

		@include mq(md) {
			background: linear-gradient(to bottom, 
				$clean-transparent $skills-content-hiddenheight * 0.5,
				$skills-content-background $skills-content-hiddenheight);
		}
	}	
}