// ============
// Style the global footer
// =======================

.footer {
	margin-top: 5rem;
	font-size: 0.8rem;

	@include mq(md) {
		margin-top: 7rem;
	}

	@include mq(lg) {
		font-size: 0.9rem;
	}

	@include e(icons) {
		margin-bottom: 1rem;
	}
}
