// ================
// Sliding frontcover module
// =========================

$frontcover-button-offset: remcalc(20);


.frontcover {
	position: fixed; 
	top: -100%;
	left: 0;
	z-index: $frontcover-z-index;
	@include square(100%);
	color: $white;
	transition: top 1s;

	@include e(button) {
		position: absolute;
		display: flex;
		border: 4px dotted rgba(255,255,255,0);
		outline: none;
		@include square(remcalc(40));
		justify-content: center;
		align-items: center;
		background: none;
		transform: rotate(45deg);

		&:after {
			content: "";
			display: block;
			@include square(remcalc(15));
			border: 2px dotted rgba(255,255,255,0);
			opacity: 0;
			animation: blink 1s 1s infinite;
		}

		@include m(prev) {
			top: 40%;
			left: $frontcover-button-offset;
			border-left-color: $orange--light;
			border-bottom-color: $orange--light;

			&:after {
				border-left-color: $orange--light;
				border-bottom-color: $orange--light;
			}
		}

		@include m(next) {
			top: 40%;
			right: 0;
			right: $frontcover-button-offset;
			border-top-color: $orange--light;
			border-right-color: $orange--light;

			&:after {
				border-top-color: $orange--light;
				border-right-color: $orange--light;
			}
		}

		@include m(down) {
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: $frontcover-button-offset;
		    margin: 0 auto;
			border-right-color: $orange--light;
			border-bottom-color: $orange--light;

			&:after {
				border-right-color: $orange--light;
				border-bottom-color: $orange--light;
			}    
		}
	}
}