// ================
// Sliding frontcover module
// =========================


.frontcover {
	position: fixed; 
	top: -100%;
	left: 0;
	@include square(100%);
	background: $grey--primary;
	color: $white;
	transition: top 1s;
}