// ================
// Sliding frontcover module
// =========================

$frontcover-button-offset: remcalc(20);


.frontcover {
	@include square(100%);
	color: $white;

	@include e(button) {
		position: absolute;
		display: flex;
		outline: none;
		@include square(remcalc(30));
		background: url(/static/arrow.svg) no-repeat center;
		background-size: cover;
		justify-content: center;
		align-items: center;

		&:after {
			content: "";
			display: block;
			@include square(remcalc(15));
			background-image: url(/static/arrow.svg);
			opacity: 0;
			animation: blink 1s 1s infinite;
		}

		@include m(prev) {
			top: 40%;
			left: $frontcover-button-offset;
			transform: rotate(-45deg);

			&:after {
			}
		}

		@include m(next) {
			top: 40%;
			right: 0;
			right: $frontcover-button-offset;
			transform: rotate(135deg);

			&:after {
			}
		}

		@include m(down) {
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: $nav-height-xl;
		    margin: 0 auto;
		    transform: rotate(225deg);

			&:after {
			}    
		}
	}
}