// ================
// Site navigation parent element
// ==============================

// variables namespaced to nav
$mobile-menu-ln-ht : 25px;

$nav-circlelink-width: 50;

$nav-lowermenu-transition: 150ms;
$nav-toplink-width-xl: 100px;
$nav-lowerlink-width-xl: 85px;

// text
$navtext-fontsize-lg: remcalc(12);

.nav {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	height: $nav-height-xs;
	background-color: transparentize($grey--primary, 0.2);
    justify-content: center;
    transform: translateY(100%);
    transition: all 1s;

	@include mq(md) {
		padding: 0 5%
	}

	@include mq(lg) {
		height: $nav-height-xl;
		padding: 0;
	}

	@include m(homepage) {
		transform: translateY(-200px);
	}

	a { 
		transition: color $transition-duration; 
		color: $white; 
	}

	button { 
		transition: color $transition-duration;
	}

	@include e(menu) {
		@include sides(100%, 0);
		padding-left: 0;
		padding-top: 0;
		overflow: hidden;
		transition: height $nav-lowermenu-transition, padding-top 0s $nav-lowermenu-transition;

		@include mq(md) {
			display: flex;
			width: initial;
			height: 64px;
		}

		@include mq(lg) {
			height: initial;
			align-items: center; 
		}
	}

	@include e(item) {
		width: 50%;
		margin: 0 auto;
		order: 1;
		transition: all 1s;

		@include mq(md) {
			width: initial;
		}

		@include mq(md, only) {
			height: 100%;
		}

		@include mq(lg) {
			width: $nav-lowerlink-width-xl;
			margin: 0;
		}

		@include m(logo) {
			margin-right: remcalc(17.5);
			border-right: solid 2px darken($grey--accent, 10%);
			overflow: hidden;
			order: 0;

			.nav__linkcircle {
				border: none;
				@include square(remcalc($nav-circlelink-width + 5));
			}
		}
	}

	@include e(link) {
		display: block;
		
		@include mq(md, max) {
			font-weight: $font-weight--bold;
		}

		@include mq(md, only) {
			@include dimensions(initial, 100%);
			padding: 0 15px;
			line-height: 65px;
		}

		@include mq(sm, max) {
			line-height: 40px;
		}

		@include mq(lg) {
			position: relative;
		}

		&:hover {
			@include mq(lg) {
				.nav__linktext {
					bottom: -$navtext-fontsize-lg;
					opacity: 1;
				}
			}
		}
	}

	@include e(linkcircle) {
		display: none;
		position: relative;
		border: remcalc(2) solid #1791E5;
		@include square(remcalc($nav-circlelink-width));
		padding: remcalc(3);
	    border-radius: 50%;
	    margin: 0 auto;
	    transition: all $transition-duration;

	    @include mq (lg) {
			display: block;
		}

		svg {
			@include square(100%);
		}
	}

	@include e(linktext) {
		font-family: $font-family--tertiary;
		
		@include mq(lg) {
			position: absolute;
			left: 50%;
			bottom: -#{remcalc(5)};
			font-size: $navtext-fontsize-lg;
			opacity: 0;
			transform: translateX(-50%);
			transition: all 0.4s;
		}
	}	
}
