// ================
// Site navigation parent element
// ==============================

// variables namespaced to nav
$mobile-menu-ln-ht : 25px;

$nav-circlelink-width: 45;
$nav-circlelink-width-xxl: 50;

$nav-toplink-width-xl: 100px;

.nav {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: $navigation-z-index;
	@include sides(100%, $nav-height-xs);
	background-color: rgba(255,255,255,0);
    justify-content: center;
    transform: none;
    transition: transform 1s;

	@include mq(md) {
		padding: 0 5%
	}

	@include mq(lg) {
		height: remcalc(75);
		padding: 0;
	}

	@include m(homepage) {
		transform: translateY(-200px);
	}

	a { 
		transition: color $transition-duration; 
		color: $white; 
	}

	button { 
		transition: color $transition-duration;
	}

	@include e(menu) {
		@include sides(100%, 0);
		padding-left: 0;
		padding-top: 0;
		overflow: hidden;

		@include mq(md) {
			display: flex;
			width: initial;
			height: 64px;
		}

		@include mq(lg) {
			height: initial;
			align-items: center; 
		}
	}

	@include e(item) {
		width: 50%;
		margin: 0 auto;
		order: 1;
		transition: all 1s;

		@include mq(md) {
			width: initial;
		}

		@include mq(md, only) {
			height: 100%;
		}

		@include mq(lg) {
			width: remcalc(70);
			margin: 0;
		}

		@include mq(xxl) {
			width: remcalc(85);
			margin: 0;
		}

		@include m(logo) {
			overflow: hidden;
			order: 0;

			.nav__linkcircle {
				border: none;
				padding: remcalc(1);
			}

			.nav__linktext {
				display: none;
			}
		}
	}

	@include e(link) {
		display: block;
		
		@include mq(md, max) {
			font-weight: $font-weight--bold;
		}

		@include mq(md, only) {
			@include dimensions(initial, 100%);
			padding: 0 15px;
			line-height: 65px;
		}

		@include mq(sm, max) {
			line-height: 40px;
		}

		@include mq(lg) {
			position: relative;
		}

		&:hover {
			@include mq(lg) {
				.nav__linktext {
					transform: translate(-50%,remcalc(5));
					opacity: 1;
				}
			}
		}
	}

	@include e(linkcircle) {
		display: none;
		position: relative;
		border: remcalc(2) solid #1791E5;
		@include square(remcalc($nav-circlelink-width));
		padding: remcalc(3);
	    border-radius: 50%;
	    margin: 0 auto;
	    transition: all $transition-duration;

	    @include mq(lg) {
			display: block;
		}

		@include mq(xxl) {
			@include square(remcalc($nav-circlelink-width-xxl));
		}

		svg {
			@include square(100%);
		}
	}

	@include e(linktext) {
		font-family: $font-family--tertiary;
		
		@include mq(lg) {
			position: absolute;
			left: 50%;
			bottom: -#{remcalc(10)};
			font-size: remcalc(14);
			opacity: 0;
			transform: translateX(-50%);
			transition: all 0.4s;
		}
	}	
}
