// ======
// Main navigable regions
// ======================

.regions {
	@include square(100%);
	position: relative;
}

.region {
	position: absolute;
	top: 0;
	left: 0;
	@include square(100%);
	overflow-x: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
	}

	@include m(lighttext) {
		color: $white;
	}

	@include e(inner) {
		width: 100%;
		min-height: 100%;
	}

	@include e(icon) {
		display: block;
		margin: 0 auto;
		max-width: remcalc(200);

		.stroke {
			stroke: darken($white, 20%);
		}

		.fill {
			fill: darken($white, 20%);
		}
	}
}