// =========
// Full-size slider on frontcover
// ==============================

@keyframes fade-out-in {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slider {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: left 2s;

	@include m(fade) {
		transition: left 0s 1s;
		animation: fade-out-in 2s 1;
	}

	@include e(track) {
		position: relative;
		@include square(100%);
		background: $black;
	}

	@include e(slide) {
		height: 100%;
		background-color: $black;
	}

	@include e(slideinner) {
		display: flex;
		@include square(100%);
		padding-bottom: remcalc(82);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@include e(icon) {
		margin: 0;
		width: remcalc(150);

		.stroke {
			stroke: whitesmoke;
		}

		.fill {
			fill: whitesmoke;
		}

		@media (max-height: remcalc(500)) {
			display: none;
		}
	}

	@include e(textcontent) {
		max-width: remcalc(800);
	}

	@include e(heading) {
		margin: 0;
		font-family: $font-family--secondary;
		@include fontsizes($font-sizes-h1);
	}

	@include e(intro) {
		margin-bottom: remcalc(170);
	}
}