// ===============
// General text features across the site
// =====================================

.text {
    @include fontsizes($font-sizes-body);

    &--light {
    	color: $white;
    }

    @include e(body) {
        max-width: remcalc(800);
        margin: 0 auto;
        text-align: left;
    }
}

.textblock {
    margin: 0 auto;
    max-width: remcalc(850);
	padding-top: remcalc(50);
	padding-bottom: remcalc(50);
	text-align: left;

	@include mq(lg) {
		padding-top: remcalc(80);
		padding-bottom: remcalc(80);
	}
}