// ===============
// General text features across the site
// =====================================

.text {
    @include fontsizes($font-sizes-body);

    &--light {
    	color: $white;
    }

    @include e(body) {
        max-width: remcalc(800);
        margin: 0 auto;
        text-align: left;
    }
}