@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Archivo+Black:400,700|Tenor+Sans:400);.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 48rem) {
  .column {
    padding-left: 0;
    padding-right: 0;
  }
}

.column-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 48rem) {
  .column-m-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.padding {
  padding: 1.5625rem 0;
}

@media (min-width: 62rem) {
  .padding {
    padding: 3.125rem 0;
  }
}

.padding--ends {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 62rem) {
  .padding--ends {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.list--plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button--clear {
  outline: none;
  border: none;
  background: none;
}

.round {
  border-radius: 50%;
}

circle, .fill, .stroke, .highlightfill {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.font--primary {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes orangeblink {
  50% {
    border-color: #ffc04c;
  }
}

@keyframes orangeblink {
  50% {
    border-color: #ffc04c;
  }
}

@-webkit-keyframes roll {
  10% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes roll {
  10% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes shake-clockwise {
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake-clockwise {
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes pulse {
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #000;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #5b5c5b;
}

#application {
  width: 100%;
  height: 100%;
}

#application > div {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

h1 {
  font-family: "Archivo Black", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 1.035em;
}

svg {
  overflow: visible;
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 62.5rem;
}

@media (min-width: 48rem) {
  .container {
    margin: 0 auto;
    width: 80%;
  }
}

.regions {
  width: 100%;
  height: 100%;
  position: relative;
}

.primaryregion {
  width: 100%;
  height: 100%;
}

.region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.region__icon {
  display: block;
  margin: 0 auto;
  width: 5rem;
}

@media (min-width: 62rem) {
  .region__icon {
    width: 9.375rem;
  }
}

.region__icon .stroke {
  stroke: #cccccc;
}

.region__icon .fill {
  fill: #cccccc;
}

.region__icon .iconbit {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.region__icon .iconbit--screwdriver {
  fill: gray;
  -webkit-animation: roll 3s 2.4s infinite;
          animation: roll 3s 2.4s infinite;
}

.region__icon .iconbit--spanner {
  -webkit-animation: shake-clockwise 3s infinite;
          animation: shake-clockwise 3s infinite;
}

.region__icon .iconbit--at {
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.region__inner {
  min-height: 100%;
}

.region__header {
  padding: 0 1.875rem 1.5625rem 1.875rem;
}

@media (min-width: 62rem) {
  .region__header {
    padding: 0 3.125rem 2.5rem 3.125rem;
  }
}

.region__title {
  margin-bottom: 0;
}

.region__intro {
  margin: 1.25rem auto 0;
  max-width: 56.25rem;
}

@media (min-width: 62rem) {
  .region__intro {
    margin-top: 2.5rem;
  }
}

.module {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

@media (min-width: 62rem) {
  .module {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.direction--up, .direction--down {
  left: 50%;
  width: 4.375rem;
  height: 2.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 62rem) {
  .direction--up, .direction--down {
    width: 6.25rem;
    height: 3.125rem;
  }
}

.direction--up .direction__text, .direction--down .direction__text {
  left: -2.1875rem;
  width: 6.25rem;
  text-align: center;
}

.direction--up:hover i:first-of-type, .direction--down:hover i:first-of-type {
  -webkit-transform: translate(10px, -10px) rotate(45deg);
          transform: translate(10px, -10px) rotate(45deg);
}

.direction--up:hover i:last-of-type, .direction--down:hover i:last-of-type {
  -webkit-transform: translate(-10px, 10px) rotate(45deg);
          transform: translate(-10px, 10px) rotate(45deg);
}

.direction--prev, .direction--next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.direction--prev:hover i:first-of-type, .direction--next:hover i:first-of-type {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.direction--prev:hover i:last-of-type, .direction--next:hover i:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.directions--background .direction {
  background-color: rgba(0, 0, 0, 0.5);
}

.direction {
  display: block;
  position: fixed;
  z-index: 10;
  outline: none;
  color: #fff;
}

.direction:hover .direction__text {
  opacity: 1;
}

@media (min-width: 62rem) {
  .direction:hover .direction__icon::after {
    -webkit-animation: none;
            animation: none;
    opacity: 0;
  }
}

.direction--prev {
  left: 0.625rem;
}

@media (min-width: 62rem) {
  .direction--prev {
    left: 1.25rem;
  }
}

.direction--prev .direction__text {
  left: 0;
}

@media (min-width: 62rem) {
  .direction--prev .direction__icon {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 61.9375rem) {
  .direction--prev .direction__icon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.direction--next {
  right: 0.625rem;
}

@media (min-width: 62rem) {
  .direction--next {
    right: 1.25rem;
  }
}

.direction--next .direction__text {
  right: 0;
}

@media (min-width: 62rem) {
  .direction--next .direction__icon {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (max-width: 61.9375rem) {
  .direction--next .direction__icon::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.direction--up {
  top: 0;
  border-radius: 0 0 0.625rem 0.625rem;
}

.direction--up .direction__inner {
  margin: 0.3125rem auto 0;
}

@media (min-width: 62rem) {
  .direction--up .direction__inner {
    margin-top: 1.25rem;
  }
}

@media (min-width: 62rem) {
  .direction--up .direction__icon {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.9375rem) {
  .direction--up .direction__icon::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.direction--down {
  bottom: 0;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 62rem) {
  .direction--down .direction__icon {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@media (max-width: 61.9375rem) {
  .direction--down .direction__icon::after {
    margin-bottom: 0.3125rem;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

.direction__inner {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1.25rem;
  height: 100%;
}

@media (min-width: 62rem) {
  .direction__inner {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.direction__text {
  position: absolute;
  top: 0;
  line-height: 1.875rem;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.direction__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 61.9375rem) {
  .direction__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.direction__icon::after {
  content: "";
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background-image: url(/static/arrow.svg);
  -webkit-animation: fade-in-out 1s infinite;
          animation: fade-in-out 1s infinite;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

@media (max-width: 47.9375rem) {
  .direction__icon::after {
    background-size: 2rem;
  }
}

@media (min-width: 62rem) {
  .direction__icon::after {
    position: absolute;
    top: 0.53125rem;
    left: 0.53125rem;
    width: 0.78125rem;
    height: 0.78125rem;
  }
}

.direction i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/static/arrow-line.svg) no-repeat -0.03125rem;
  background-size: 160%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

@media (max-width: 61.9375rem) {
  .direction i {
    display: none;
  }
}

@media (min-width: 48rem) {
  .direction i {
    background-size: cover;
  }
}

.direction i:first-of-type {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 2.5rem;
  min-width: 8.125rem;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (min-width: 62rem) {
  .nav {
    height: 4.6875rem;
    padding: 0;
  }
}

.nav a {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  color: #fff;
}

.nav button {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0.625rem 0 0;
  width: 100%;
  height: 100%;
  padding: 0 0.3125rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (min-width: 62rem) {
  .nav__item {
    width: 4.375rem;
    margin: 0;
  }
}

@media (min-width: 87.5rem) {
  .nav__item {
    width: 5.3125rem;
    margin: 0;
  }
}

.nav__item--logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.nav__item--logo .nav__linkcircle {
  padding: 0.0625rem;
}

@media (min-width: 62rem) {
  .nav__item--logo .nav__linkcircle {
    border: none;
  }
}

.nav__item--logo .nav__icon {
  width: 100%;
  height: 100%;
}

.nav__item--logo .nav__linktext {
  display: none;
}

.nav__link {
  display: block;
}

@media (min-width: 62rem) {
  .nav__link {
    position: relative;
    margin-bottom: 0.3125rem;
  }
}

@media (min-width: 62rem) {
  .nav__link:hover .nav__linktext {
    -webkit-transform: translate(-50%, 0.3125rem);
            transform: translate(-50%, 0.3125rem);
    opacity: 1;
  }
}

@media (max-width: 61.9375rem) {
  .nav__link--current .nav__linkcircle {
    background-color: #ffb732;
  }
}

.nav__linkcircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 0.125rem solid #ffb732;
  border-radius: 50%;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (min-width: 62rem) {
  .nav__linkcircle {
    width: 2.8125rem;
    height: 2.8125rem;
  }
}

@media (min-width: 87.5rem) {
  .nav__linkcircle {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.nav__icon {
  width: 62.5%;
  height: 62.5%;
}

.nav__icon svg {
  width: 100%;
  height: 100%;
}

.nav__linktext {
  font-family: "Tenor Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 62rem) {
  .nav__linktext {
    position: absolute;
    left: 50%;
    bottom: -0.625rem;
    font-size: 0.875rem;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.header__content {
  padding: 3rem 0;
}

@media (min-width: 48rem) {
  .header__content {
    padding: 5rem 0;
  }
}

@media (min-width: 75rem) {
  .header__content {
    padding: 8rem 0;
  }
}

.header__title {
  margin-top: 0;
}

@media (min-width: 48rem) {
  .header__title {
    line-height: 3rem;
    font-size: 2.375rem;
  }
}

.header__intro {
  margin: 0 auto;
  max-width: 700px;
  line-height: 1.875rem;
  text-align: left;
  font-size: 1.25rem;
}

@media (min-width: 48rem) {
  .header__intro {
    line-height: 2.1875rem;
    font-size: 1.5625rem;
  }
}

.footer {
  margin-top: 5rem;
  font-size: 0.8rem;
}

@media (min-width: 48rem) {
  .footer {
    margin-top: 7rem;
  }
}

@media (min-width: 62rem) {
  .footer {
    font-size: 0.9rem;
  }
}

.footer__icons {
  margin-bottom: 1rem;
}

.link {
  font-weight: bold;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link--grey {
  color: #5b5c5b;
}

.link--grey:hover {
  color: #8e8f8e;
}

.icon--social {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon--social:nth-child(n+2) {
  margin-left: 6px;
}

.icon--social .fill {
  fill: #5b5c5b;
}

.icon--social:hover .fill {
  fill: #8e8f8e;
}

@media (min-width: 48rem) {
  .text {
    line-height: 1.75rem;
    font-size: 1.125rem;
  }
}

@media (min-width: 62rem) {
  .text {
    line-height: 2rem;
    font-size: 1.375rem;
  }
}

.text--light {
  color: #fff;
}

.text__body {
  max-width: 50rem;
  margin: 0 auto;
  text-align: left;
}

.textblock {
  margin: 0 auto;
  max-width: 53.125rem;
  text-align: left;
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translate3d(-20px, -0px, 0);
            transform: translate3d(-20px, -0px, 0);
  }
  10% {
    -webkit-transform: translate3d(20px, -50px, 0);
            transform: translate3d(20px, -50px, 0);
  }
  20% {
    -webkit-transform: translate3d(-20px, -100px, 0);
            transform: translate3d(-20px, -100px, 0);
  }
  30% {
    -webkit-transform: translate3d(20px, -150px, 0);
            transform: translate3d(20px, -150px, 0);
  }
  40% {
    -webkit-transform: translate3d(-20px, -200px, 0);
            transform: translate3d(-20px, -200px, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, -250px, 0);
            transform: translate3d(20px, -250px, 0);
  }
  60% {
    -webkit-transform: translate3d(-20px, -300px, 0);
            transform: translate3d(-20px, -300px, 0);
  }
  70% {
    -webkit-transform: translate3d(20px, -350px, 0);
            transform: translate3d(20px, -350px, 0);
  }
  80% {
    -webkit-transform: translate3d(-20px, -400px, 0);
            transform: translate3d(-20px, -400px, 0);
  }
  90% {
    -webkit-transform: translate3d(20px, -450px, 0);
            transform: translate3d(20px, -450px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20px, -500px, 0);
            transform: translate3d(-20px, -500px, 0);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translate3d(-20px, -0px, 0);
            transform: translate3d(-20px, -0px, 0);
  }
  10% {
    -webkit-transform: translate3d(20px, -50px, 0);
            transform: translate3d(20px, -50px, 0);
  }
  20% {
    -webkit-transform: translate3d(-20px, -100px, 0);
            transform: translate3d(-20px, -100px, 0);
  }
  30% {
    -webkit-transform: translate3d(20px, -150px, 0);
            transform: translate3d(20px, -150px, 0);
  }
  40% {
    -webkit-transform: translate3d(-20px, -200px, 0);
            transform: translate3d(-20px, -200px, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, -250px, 0);
            transform: translate3d(20px, -250px, 0);
  }
  60% {
    -webkit-transform: translate3d(-20px, -300px, 0);
            transform: translate3d(-20px, -300px, 0);
  }
  70% {
    -webkit-transform: translate3d(20px, -350px, 0);
            transform: translate3d(20px, -350px, 0);
  }
  80% {
    -webkit-transform: translate3d(-20px, -400px, 0);
            transform: translate3d(-20px, -400px, 0);
  }
  90% {
    -webkit-transform: translate3d(20px, -450px, 0);
            transform: translate3d(20px, -450px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20px, -500px, 0);
            transform: translate3d(-20px, -500px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes bob {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bob {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.region .bubble--rise1 {
  -webkit-animation: rise 15s 0s infinite;
          animation: rise 15s 0s infinite;
}

.region .bubble--rise2 {
  -webkit-animation: rise 15s 5s infinite;
          animation: rise 15s 5s infinite;
}

.region .bubble--rise3 {
  -webkit-animation: rise 15s 10s infinite;
          animation: rise 15s 10s infinite;
}

.region .bubble--bob1 {
  -webkit-animation: bob 3s 0s infinite;
          animation: bob 3s 0s infinite;
}

.region .bubble--bob2 {
  -webkit-animation: bob 3s 2s infinite;
          animation: bob 3s 2s infinite;
}

.region .bubble--bob3 {
  -webkit-animation: bob 3s 4s infinite;
          animation: bob 3s 4s infinite;
}

.skillsfeature {
  background: #fff;
  margin: 0 auto;
  max-width: 62.5rem;
}

@media (min-width: 48rem) {
  .skillsfeature {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.skillsfeature__skill:first-child .skillsfeature__title {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skillsfeature__skill--current .skillsfeature__read {
  display: none;
}

@media (min-width: 62rem) {
  .skillsfeature__skill--current .skillsfeature__close {
    display: block;
  }
}

.skillsfeature__skill--current .skillsfeature__overlay {
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.skillsfeature__trigger {
  display: block;
  position: relative;
  height: 5.3125rem;
  background: #e6e6e6;
  line-height: 5.3125rem;
  color: #5b5c5b;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.skillsfeature__trigger:hover, .skillsfeature__trigger:focus {
  background: #cccccc;
}

.skillsfeature__trigger:hover .skillsfeature__tooltip {
  opacity: 1;
}

.skillsfeature__title {
  margin: 0;
  -webkit-box-shadow: 0 -1.875rem 1.5625rem -0.625rem #fff;
          box-shadow: 0 -1.875rem 1.5625rem -0.625rem #fff;
}

.skillsfeature__tooltip {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 5.3125rem;
  padding-right: 30px;
  line-height: 5.3125rem;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

@media (max-width: 61.9375rem) {
  .skillsfeature__tooltip {
    display: none;
  }
}

.skillsfeature__close {
  display: none;
}

.skillsfeature__content {
  margin: 0 auto;
  width: 90%;
  height: 6.25rem;
  max-width: 46.875rem;
  overflow: hidden;
  text-align: left;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.skillsfeature__contentinner {
  margin: 0 auto;
  padding: 1.875rem 0;
}

.skillsfeature__contentinner p:first-child {
  margin-top: 0;
}

.skillsfeature__contentinner p:last-child {
  margin-bottom: 0;
}

.demosfeature {
  margin: 0 auto;
  max-width: 75rem;
}

@media (min-width: 48rem) {
  .demosfeature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  }
}

.demosfeature__item {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  -webkit-transition: background 2s;
  transition: background 2s;
}

@media (min-width: 62rem) {
  .demosfeature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

.demosfeature__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.demosfeature__link:hover, .demosfeature__link:focus {
  background: rgba(0, 0, 0, 0.5);
}

.demosfeature__link:hover .demosfeature__tooltip, .demosfeature__link:focus .demosfeature__tooltip {
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.demosfeature__text {
  padding: 30px;
}

@media (min-width: 62rem) {
  .demosfeature__text {
    padding: 100px;
  }
}

.demosfeature__title {
  margin-top: 0;
}

.demosfeature__description {
  margin: 0;
  text-align: left;
}

.demosfeature__tooltip {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, transform 0.4s;
  transition: opacity 0.25s, transform 0.4s, -webkit-transform 0.4s;
}

@media (max-width: 61.9375rem) {
  .demosfeature__tooltip {
    display: none;
  }
}

@media (max-width: 47.9375rem) {
  .collapsed-sm-max {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
  }
}

@media (min-width: 48rem) {
  .hidden-md-min {
    display: none;
  }
}

.displayed-md-only {
  display: none;
}

@media (min-width: 48rem) and (max-width: 61.9375rem) {
  .displayed-md-only {
    display: block;
  }
}

@media (min-width: 48rem) {
  .hidden-md-min {
    display: none;
  }
}

.is-displayed-lg {
  display: none;
}

@media (min-width: 62rem) {
  .is-displayed-lg {
    display: block;
  }
}

.is-displayed-md {
  display: none;
}

@media (min-width: 48rem) {
  .is-displayed-md {
    display: block;
  }
}

@media (min-width: 62rem) {
  .is-hidden-lg {
    display: none;
  }
}

@-webkit-keyframes in-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes in-from-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes in-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes in-from-top {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes in-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes in-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes in-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes in-from-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes in-from-fade {
  100% {
    opacity: 1;
  }
}

@keyframes in-from-fade {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes out-to-left {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes out-to-left {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes out-to-top {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes out-to-top {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes out-to-bottom {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes out-to-bottom {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes out-to-right {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes out-to-right {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes out-to-fade {
  100% {
    opacity: 0;
  }
}

@keyframes out-to-fade {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes button-slide-right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes button-slide-right {
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes button-slide-left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes button-slide-left {
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes button-slide-up {
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes button-slide-up {
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes button-slide-down {
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes button-slide-down {
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

.js-outgoing {
  z-index: 8;
}

.js-outgoing-left {
  -webkit-animation: out-to-left 1s;
          animation: out-to-left 1s;
}

.js-outgoing-top {
  -webkit-animation: out-to-top 1s;
          animation: out-to-top 1s;
}

.js-outgoing-right {
  -webkit-animation: out-to-right 1s;
          animation: out-to-right 1s;
}

.js-outgoing-bottom {
  -webkit-animation: out-to-bottom 1s;
          animation: out-to-bottom 1s;
}

.js-outgoing-fade {
  -webkit-animation: out-to-fade 0.5s forwards;
          animation: out-to-fade 0.5s forwards;
}

.js-incoming {
  z-index: 9;
}

.js-incoming-left {
  -webkit-animation: in-from-left 1s;
          animation: in-from-left 1s;
}

.js-incoming-top {
  -webkit-animation: in-from-top 1s;
          animation: in-from-top 1s;
}

.js-incoming-right {
  -webkit-animation: in-from-right 1s;
          animation: in-from-right 1s;
}

.js-incoming-bottom {
  -webkit-animation: in-from-bottom 1s;
          animation: in-from-bottom 1s;
}

.js-incoming-fade {
  opacity: 0;
  -webkit-animation: in-from-fade 0.5s 0.5s;
          animation: in-from-fade 0.5s 0.5s;
}

.js-moving-regions .direction {
  pointer-events: none;
}

.js-moving-regions .direction--next {
  -webkit-animation: button-slide-right 1s;
          animation: button-slide-right 1s;
}

.js-moving-regions .direction--prev {
  -webkit-animation: button-slide-left 1s;
          animation: button-slide-left 1s;
}

.js-moving-regions .direction--up {
  -webkit-animation: button-slide-up 1s;
          animation: button-slide-up 1s;
}

.js-moving-regions .direction--down {
  -webkit-animation: button-slide-down 1s;
          animation: button-slide-down 1s;
}

.js-moving-regions .direction i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.js-moving-regions .direction i:first-of-type {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.js-moving-regions .direction i:last-of-type {
  -webkit-transform: none;
          transform: none;
}

.js-moving-regions .direction__text {
  display: none;
}

.js-moving-regions .direction:hover .direction__icon::after {
  opacity: 1;
}

.js-nav-backgrounds .nav__menu,
.js-nav-backgrounds .direction {
  background-color: rgba(0, 0, 0, 0.5);
}

.direction.js-hidden-button {
  pointer-events: none;
  -webkit-animation: none;
          animation: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.direction.js-visible-button {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
  -webkit-animation: none;
          animation: none;
}

.direction--prev.js-hidden-button {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.direction--next.js-hidden-button {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.direction--up.js-hidden-button {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.direction--down.js-hidden-button {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.nav--grey.active .topmenu__trigger {
  color: #ffb732;
}

.nav--grey.active .arrow::after {
  background: #ffb732;
}

.nav--grey.active .arrow::before {
  background: #ffb732;
}

.nav .fill {
  fill: #404040;
}

.nav .stroke {
  stroke: #404040;
}

.nav circle {
  stroke: #404040;
  fill: rgba(255, 255, 255, 0);
}

@media (max-width: 61.9375rem) {
  .nav__link--current, .nav__link:hover, .nav__link:focus {
    color: #ffae19;
  }
}

.nav__link--current circle, .nav__link:hover circle, .nav__link:focus circle {
  stroke: #ffae19;
}

.nav__link--current .fill, .nav__link:hover .fill, .nav__link:focus .fill {
  fill: #ffae19;
}

.nav__link--current .fill--onlyhover, .nav__link:hover .fill--onlyhover, .nav__link:focus .fill--onlyhover {
  fill: #ffae19;
}

.nav__link--current .stroke, .nav__link:hover .stroke, .nav__link:focus .stroke {
  stroke: #ffae19;
}

@media (min-width: 62rem) {
  .nav__linkcircle {
    border: 0.125rem solid #555;
  }
}

/*# sourceMappingURL=styles.css.map*/