@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Archivo+Black:400,700|Tenor+Sans:400);.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  .column {
    padding-left: 0;
    padding-right: 0;
  }
}

.column-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .column-m-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.padding {
  padding: 1.5625rem 0;
}

@media (min-width: 992px) {
  .padding {
    padding: 3.125rem 0;
  }
}

.list--plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button--clear {
  outline: none;
  border: none;
  background: none;
}

.round {
  border-radius: 50%;
}

circle, .fill, .stroke, .highlightfill {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.font--primary {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@-webkit-keyframes move-up {
  100% {
    -webkit-transform: translate(0,-100%);
            transform: translate(0,-100%);
  }
}

@keyframes move-up {
  100% {
    -webkit-transform: translate(0,-100%);
            transform: translate(0,-100%);
  }
}

@-webkit-keyframes move-down {
  100% {
    -webkit-transform: translate(0,100%);
            transform: translate(0,100%);
  }
}

@keyframes move-down {
  100% {
    -webkit-transform: translate(0,100%);
            transform: translate(0,100%);
  }
}

@-webkit-keyframes move-left {
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@keyframes move-left {
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@-webkit-keyframes move-right {
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes move-right {
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@-webkit-keyframes orangeblink {
  50% {
    border-color: #ffc04c;
  }
}

@keyframes orangeblink {
  50% {
    border-color: #ffc04c;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #5b5c5b;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

h4 {
  font-size: 1.035em;
}

svg {
  overflow: visible;
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.page {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.page__background {
  background-color: #fff;
  background-image: url(/static/backgrounds/squares.png);
}

.page::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.regions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.regions.js-move-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.region {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.region__icon {
  display: block;
  margin: 0 auto;
  max-width: 12.5rem;
}

.region__icon .stroke {
  stroke: #cccccc;
}

.region__icon .fill {
  fill: #cccccc;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (min-width: 768px) {
  .nav {
    padding: 0 5%;
  }
}

@media (min-width: 992px) {
  .nav {
    height: 4.6875rem;
    padding: 0;
  }
}

.nav--homepage {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.nav a {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  color: #fff;
}

.nav button {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.nav__menu {
  width: 100%;
  height: 0;
  padding-left: 0;
  padding-top: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: initial;
    height: 64px;
  }
}

@media (min-width: 992px) {
  .nav__menu {
    height: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__item {
  width: 50%;
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (min-width: 768px) {
  .nav__item {
    width: initial;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav__item {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .nav__item {
    width: 4.375rem;
    margin: 0;
  }
}

@media (min-width: 1400px) {
  .nav__item {
    width: 5.3125rem;
    margin: 0;
  }
}

.nav__item--logo {
  overflow: hidden;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.nav__item--logo .nav__linkcircle {
  border: none;
  padding: 0.0625rem;
}

.nav__item--logo .nav__linktext {
  display: none;
}

.nav__link {
  display: block;
}

@media (max-width: 991px) {
  .nav__link {
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav__link {
    width: initial;
    height: 100%;
    padding: 0 15px;
    line-height: 65px;
  }
}

@media (max-width: 767px) {
  .nav__link {
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .nav__link {
    position: relative;
  }
}

@media (min-width: 992px) {
  .nav__link:hover .nav__linktext {
    -webkit-transform: translate(-50%, 0.3125rem);
            transform: translate(-50%, 0.3125rem);
    opacity: 1;
  }
}

.nav__linkcircle {
  display: none;
  position: relative;
  border: 0.125rem solid #1791E5;
  width: 2.8125rem;
  height: 2.8125rem;
  padding: 0.1875rem;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (min-width: 992px) {
  .nav__linkcircle {
    display: block;
  }
}

@media (min-width: 1400px) {
  .nav__linkcircle {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.nav__linkcircle svg {
  width: 100%;
  height: 100%;
}

.nav__linktext {
  font-family: "Tenor Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  .nav__linktext {
    position: absolute;
    left: 50%;
    bottom: -0.625rem;
    font-size: 0.875rem;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.header__content {
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .header__content {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .header__content {
    padding: 8rem 0;
  }
}

.header__title {
  margin-top: 0;
}

@media (min-width: 768px) {
  .header__title {
    line-height: 3rem;
    font-size: 2.375rem;
  }
}

.header__intro {
  margin: 0 auto;
  max-width: 700px;
  line-height: 1.875rem;
  text-align: left;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .header__intro {
    line-height: 2.1875rem;
    font-size: 1.5625rem;
  }
}

.footer {
  margin-top: 5rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 7rem;
  }
}

@media (min-width: 992px) {
  .footer {
    font-size: 0.9rem;
  }
}

.footer__icons {
  margin-bottom: 1rem;
}

.link {
  font-weight: bold;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.link--grey {
  color: #5b5c5b;
}

.link--grey:hover {
  color: #8e8f8e;
}

.icon--social {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon--social:nth-child(n+2) {
  margin-left: 6px;
}

.icon--social .fill {
  fill: #5b5c5b;
}

.icon--social:hover .fill {
  fill: #8e8f8e;
}

@media (min-width: 768px) {
  .text {
    line-height: 1.75rem;
    font-size: 1.125rem;
  }
}

.text__body {
  max-width: 50rem;
  margin: 0 auto;
  text-align: left;
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translate3d(-20px, -0px, 0);
            transform: translate3d(-20px, -0px, 0);
  }
  10% {
    -webkit-transform: translate3d(20px, -50px, 0);
            transform: translate3d(20px, -50px, 0);
  }
  20% {
    -webkit-transform: translate3d(-20px, -100px, 0);
            transform: translate3d(-20px, -100px, 0);
  }
  30% {
    -webkit-transform: translate3d(20px, -150px, 0);
            transform: translate3d(20px, -150px, 0);
  }
  40% {
    -webkit-transform: translate3d(-20px, -200px, 0);
            transform: translate3d(-20px, -200px, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, -250px, 0);
            transform: translate3d(20px, -250px, 0);
  }
  60% {
    -webkit-transform: translate3d(-20px, -300px, 0);
            transform: translate3d(-20px, -300px, 0);
  }
  70% {
    -webkit-transform: translate3d(20px, -350px, 0);
            transform: translate3d(20px, -350px, 0);
  }
  80% {
    -webkit-transform: translate3d(-20px, -400px, 0);
            transform: translate3d(-20px, -400px, 0);
  }
  90% {
    -webkit-transform: translate3d(20px, -450px, 0);
            transform: translate3d(20px, -450px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20px, -500px, 0);
            transform: translate3d(-20px, -500px, 0);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translate3d(-20px, -0px, 0);
            transform: translate3d(-20px, -0px, 0);
  }
  10% {
    -webkit-transform: translate3d(20px, -50px, 0);
            transform: translate3d(20px, -50px, 0);
  }
  20% {
    -webkit-transform: translate3d(-20px, -100px, 0);
            transform: translate3d(-20px, -100px, 0);
  }
  30% {
    -webkit-transform: translate3d(20px, -150px, 0);
            transform: translate3d(20px, -150px, 0);
  }
  40% {
    -webkit-transform: translate3d(-20px, -200px, 0);
            transform: translate3d(-20px, -200px, 0);
  }
  50% {
    -webkit-transform: translate3d(20px, -250px, 0);
            transform: translate3d(20px, -250px, 0);
  }
  60% {
    -webkit-transform: translate3d(-20px, -300px, 0);
            transform: translate3d(-20px, -300px, 0);
  }
  70% {
    -webkit-transform: translate3d(20px, -350px, 0);
            transform: translate3d(20px, -350px, 0);
  }
  80% {
    -webkit-transform: translate3d(-20px, -400px, 0);
            transform: translate3d(-20px, -400px, 0);
  }
  90% {
    -webkit-transform: translate3d(20px, -450px, 0);
            transform: translate3d(20px, -450px, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20px, -500px, 0);
            transform: translate3d(-20px, -500px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes bob {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bob {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.region .bubble--rise1 {
  -webkit-animation: rise 15s 0s infinite;
          animation: rise 15s 0s infinite;
}

.region .bubble--rise2 {
  -webkit-animation: rise 15s 5s infinite;
          animation: rise 15s 5s infinite;
}

.region .bubble--rise3 {
  -webkit-animation: rise 15s 10s infinite;
          animation: rise 15s 10s infinite;
}

.region .bubble--bob1 {
  -webkit-animation: bob 3s 0s infinite;
          animation: bob 3s 0s infinite;
}

.region .bubble--bob2 {
  -webkit-animation: bob 3s 2s infinite;
          animation: bob 3s 2s infinite;
}

.region .bubble--bob3 {
  -webkit-animation: bob 3s 4s infinite;
          animation: bob 3s 4s infinite;
}

.skillsfeature {
  background: #fff;
}

@media (min-width: 768px) {
  .skillsfeature {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 992px) {
  .skillsfeature {
    margin: 0 auto;
    width: 85%;
  }
}

.skillsfeature__skill:first-child .skillsfeature__title {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skillsfeature__skill--current .skillsfeature__read {
  display: none;
}

@media (min-width: 992px) {
  .skillsfeature__skill--current .skillsfeature__close {
    display: block;
  }
}

.skillsfeature__skill--current .skillsfeature__overlay {
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.skillsfeature__trigger {
  display: block;
  position: relative;
  height: 5.3125rem;
  background: #e6e6e6;
  line-height: 5.3125rem;
  color: #5b5c5b;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.skillsfeature__trigger:hover, .skillsfeature__trigger:focus {
  background: #cccccc;
}

.skillsfeature__trigger:hover .skillsfeature__tooltip {
  opacity: 1;
}

.skillsfeature__title {
  margin: 0;
}

@media (min-width: 768px) {
  .skillsfeature__title {
    -webkit-box-shadow: 0 -1.875rem 1.5625rem -0.625rem #fff;
            box-shadow: 0 -1.875rem 1.5625rem -0.625rem #fff;
  }
}

.skillsfeature__tooltip {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 5.3125rem;
  padding-right: 30px;
  line-height: 5.3125rem;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

@media (max-width: 991px) {
  .skillsfeature__tooltip {
    display: none;
  }
}

.skillsfeature__close {
  display: none;
}

.skillsfeature__content {
  margin: 0 auto;
  width: 90%;
  height: 6.25rem;
  max-width: 46.875rem;
  overflow: hidden;
  text-align: left;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.skillsfeature__contentinner {
  margin: 0 auto;
  padding: 1.875rem 0;
}

.skillsfeature__contentinner p:first-child {
  margin-top: 0;
}

.skillsfeature__contentinner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .demosfeature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  }
}

.demosfeature__item {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  -webkit-transition: background 2s;
  transition: background 2s;
}

@media (min-width: 992px) {
  .demosfeature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

.demosfeature__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.demosfeature__link:hover, .demosfeature__link:focus {
  background: rgba(0, 0, 0, 0.5);
}

.demosfeature__link:hover .demosfeature__tooltip, .demosfeature__link:focus .demosfeature__tooltip {
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.demosfeature__text {
  padding: 30px;
}

@media (min-width: 992px) {
  .demosfeature__text {
    padding: 100px;
  }
}

.demosfeature__title {
  margin-top: 0;
}

.demosfeature__description {
  margin: 0;
  text-align: left;
}

.demosfeature__tooltip {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, -webkit-transform 0.4s;
  transition: opacity 0.25s, transform 0.4s;
  transition: opacity 0.25s, transform 0.4s, -webkit-transform 0.4s;
}

@media (max-width: 991px) {
  .demosfeature__tooltip {
    display: none;
  }
}

@media (max-width: 767px) {
  .collapsed-sm-max {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
  }
}

@media (min-width: 768px) {
  .hidden-md-min {
    display: none;
  }
}

.displayed-md-only {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .displayed-md-only {
    display: block;
  }
}

@media (min-width: 768px) {
  .hidden-md-min {
    display: none;
  }
}

@media (max-width: 991px) {
  .is-displayed-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .is-hidden-lg {
    display: none;
  }
}

.is-down .nav__item:nth-child(2) .nav__linkcircle {
  -webkit-animation: orangeblink 1s 1s 1;
          animation: orangeblink 1s 1s 1;
}

.is-down .nav__item:nth-child(3) .nav__linkcircle {
  -webkit-animation: orangeblink 1s 2s 1;
          animation: orangeblink 1s 2s 1;
}

.is-down .nav__item:nth-child(4) .nav__linkcircle {
  -webkit-animation: orangeblink 1s 3s 1;
          animation: orangeblink 1s 3s 1;
}

.is-down .nav__item .fill {
  fill: #4d4d4d;
}

.is-down .nav__item .stroke {
  stroke: #4d4d4d;
}

.is-down .nav__item circle {
  stroke: #4d4d4d;
  fill: rgba(255, 255, 255, 0);
}

.is-down .nav__item--logo {
  border-color: #343434;
}

@media (max-width: 991px) {
  .is-down .nav__link:hover, .is-down .nav__link:focus, .is-down .nav__link:active, .is-down .nav__link--current {
    color: #ffb732;
  }
}

.is-down .nav__link:hover circle, .is-down .nav__link:focus circle, .is-down .nav__link:active circle, .is-down .nav__link--current circle {
  stroke: #ffb732;
}

.is-down .nav__link:hover .fill, .is-down .nav__link:focus .fill, .is-down .nav__link:active .fill, .is-down .nav__link--current .fill {
  fill: #ffb732;
}

.is-down .nav__link:hover .fill--onlyhover, .is-down .nav__link:focus .fill--onlyhover, .is-down .nav__link:active .fill--onlyhover, .is-down .nav__link--current .fill--onlyhover {
  fill: #ffb732;
}

.is-down .nav__link:hover .stroke, .is-down .nav__link:focus .stroke, .is-down .nav__link:active .stroke, .is-down .nav__link--current .stroke {
  stroke: #ffb732;
}

.is-down .nav__linkcircle {
  border-color: #343434;
}

.is-up {
  top: -100%;
}

.is-up .nav {
  background-color: rgba(119, 119, 119, 0.8);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.is-up .page {
  -webkit-transform: none;
          transform: none;
}

.slider--fade {
  -webkit-transition: left 0s 1s;
  transition: left 0s 1s;
  -webkit-animation: fade-out-in 2s 1;
          animation: fade-out-in 2s 1;
}

.is-changing-page {
  -webkit-transition: top 0s 1s;
  transition: top 0s 1s;
}

.is-changing-page .slider {
  -webkit-transition: none;
  transition: none;
}

.is-changing-page .page {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.js-move-up {
  -webkit-animation: move-up 5s;
          animation: move-up 5s;
}

.js-move-down {
  -webkit-animation: move-down 5s;
          animation: move-down 5s;
}

.js-move-left {
  -webkit-animation: move-left 5s;
          animation: move-left 5s;
}

.js-move-right {
  -webkit-animation: move-right 5s;
          animation: move-right 5s;
}

.js-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav--grey.active .topmenu__trigger {
  color: #ffb732;
}

.nav--grey.active .arrow::after {
  background: #ffb732;
}

.nav--grey.active .arrow::before {
  background: #ffb732;
}

.nav {
  border-bottom: 0.125rem solid #4d4d4d;
}

@media (min-width: 768px) {
  .nav {
    border-bottom: none;
  }
}

.nav .fill {
  fill: #404040;
}

.nav .stroke {
  stroke: #404040;
}

.nav circle {
  stroke: #404040;
  fill: rgba(255, 255, 255, 0);
}

.nav__item {
  border-bottom: 0.125rem solid #4d4d4d;
}

@media (min-width: 768px) {
  .nav__item {
    border-bottom: none;
  }
}

@media (max-width: 991px) {
  .nav__link--current {
    color: #ffae19;
  }
}

.nav__link--current circle {
  stroke: #ffae19;
}

.nav__link--current .fill {
  fill: #ffae19;
}

.nav__link--current .fill--onlyhover {
  fill: #ffae19;
}

.nav__link--current .stroke {
  stroke: #ffae19;
}

@media (min-width: 992px) {
  .nav__linkcircle {
    border: 0.125rem solid #555;
  }
}

/*# sourceMappingURL=styles.css.map*/