// ============
// Theme the start page
// ====================

$startpage-brush-outline: #1482CE;

$startpage-circle-transition: 0.75s;
$startpage-icon-transition: 0.25s; 

$startpage-blue-accent: lighten($blue--accent, 5%);

.theme--startpage {
	background: $blue--primary;
	color: $white;

	.nav--blue {
	    border-bottom-color: $startpage-blue-accent;
	}

	.lowermenu--blue {
	    border-bottom: none;
	}

	.header__intro {
		text-align: center;
	}

	.childpage {
	    border-top: solid 1px $startpage-blue-accent;

	    @include mq(lg) {
			border-top-width: 2px;
		}

	    circle {
	    	stroke: $blue--accent;
	    	stroke-dasharray: 1220;
		    stroke-dashoffset: 0;
	    	transition: stroke-dashoffset $startpage-circle-transition $startpage-icon-transition ease-out;
	    }

	    .stroke {
			stroke: $startpage-brush-outline;
		}

		.fill {
			fill: $blue--accent;
		}

		.thumbhole {
			fill: $blue--primary
		}

		.iconbit {
			transform-origin: 50%;
			transition: transform $startpage-icon-transition ease-out;
		}
	}

	.childpage__link {
		color: $white;
	}

	.footer__icons {
		.fill {
			fill: $blue--accent;
		}
	}

	.link--grey {
		color: $white;
	}

	// TODO - consider moving this to states 
	// file called is-hovered
	// also contain styles for hovered svgs/bits
	// on other child page panels in painting etc
	.is-hovered {
		circle {
			stroke-dashoffset: 1220;
			transition: stroke-dashoffset $startpage-circle-transition;
		}

		.iconbit {
			transition: transform $startpage-icon-transition $startpage-circle-transition ease-out;
		}

		.bracket {
			@include m(left) {
				transform: translateX(-20px);
			}

			@include m(right) {
				transform: translateX(20px);
			}
		}

		.brush {
			@include m(left) {
				transform: translate3d(100px, -40px, 0) rotate(-20deg);
			}

			@include m(right) {
				transform: translate3d(80px, -40px, 0) rotate(-40deg);
			}
		}
	}
}

