// ======
// Configuration
// ========================================

// font stacks

$font-url--google: 'https://fonts.googleapis.com/css?family=Roboto:400,700|Archivo+Black:400,700';
$font-family--primary: 'Roboto', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Archivo Black', Helvetica, Arial, sans-serif;

// font sizes

$font-sizes-body: (
  md: 18,
  lg: 22,
);

// colours

$black: #000000;
$white: #ffffff;
$finlandia: #5b5c5b;
$grey--accent : #4d4d4d;
$black-transparent: rgba(0,0,0,0.45);
$clean-transparent: rgba(255,255,255,0);
$grey-transparent: rgba(0,0,0,0.25);

$orange: #FFC04C;
$text-color-main: $finlandia;
$text-color-light: lighten($finlandia, 20%);

// breakpoints

$bp-xs: 1;
$bp-sm: 576;
$bp-md: 768;
$bp-lg: 992;
$bp-xl: 1200;
$bp-xxl: 1400;

// z-indexes

$nav-z-index: 10;

// transitions

$transition-duration: 0.25s;
$page-transition-duration: 1s;
$page-fade-transition-duration: $page-transition-duration / 2;

// layout

$container-max-width: remcalc(1000);
