// ======
// Menu navigation and direction buttons
// ========================================

// navigation
.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $nav-z-index;
  border-radius: remcalc($nav-border-radius) 0 0 0;
  height: remcalc($nav-height-sm);
  min-width: remcalc(130);
  background-color: rgba(255,255,255,0);
  transition: background-color $transition-duration * 2;

  @include mq(lg) {
    height: remcalc($nav-height-lg);
    padding: 0;
  }

  a {
    transition: color $transition-duration;
    color: $white;
  }

  &__menu {
    display: flex;
    @include square(100%);
    padding: 0 remcalc(5);
  }

  &__item {
    display: flex;
    flex: 1 0 25%;
    order: 1;
    justify-content: center;
    align-items: center;
    transition: all 1s;

    @include mq(lg) {
      width: remcalc(70);
      margin: 0;
    }

    @include mq(xxl) {
      width: remcalc(85);
      margin: 0;
    }
  }

  &__link {
    display: block;

    .fill {
      fill: $text-color-light;
    }

    .stroke {
      stroke: $text-color-light;
    }

    circle {
      stroke: $text-color-light;
      fill: rgba(255,255,255,0);
    }

    &--current,
    &:hover,
    &:focus {
      circle {
        stroke: $orange--dark;
      }

      .fill {
        fill: $orange--dark;
      }

      .stroke {
        stroke: $orange--dark;
      }
    }

    &--current {
      .nav__linkcircle {
        @include mq(md, max) {
          background-color: $orange--active;
        }
      }
    }
  }

  &__linkcircle {
    display: block;
    margin: 0 auto;
    border: remcalc(2) solid $orange--active;
    border-radius: 50%;
    @include square(remcalc(15));
    transition: all $transition-duration;

    @include mq(lg) {
      @include square(remcalc($nav-circlelink-width));
      border-color: $text-color-light;
      padding: remcalc(6);
    }

    @include mq(xxl) {
      @include square(remcalc($nav-circlelink-width-xxl));
      padding: remcalc(7);
    }

    svg {
      display: none;

      @include mq(lg) {
        display: block;
      }
    }
  }

  &__icon {
    @include square(62.5%);

    svg {
      @include square(100%);
    }
  }

  &__linktext {
    display: block;
    font-size: remcalc(14);
    font-family: $font-family--tertiary;
  }
}

// directions
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

%vertical-direction {
  left: calc(50% - 35px);
  @include sides(remcalc(70), remcalc($nav-height-sm));

  @include mq(lg) {
    left: calc(50% - 50px);
    @include sides(remcalc(100), remcalc(50));
  }

  .direction__text {
    left: remcalc(-35);
    width: remcalc(100);
    text-align: center;
  }

  &:hover {
    i {
      &:first-of-type {
        transform: translate(10px,-10px) rotate(45deg);
      }

      &:last-of-type {
        transform: translate(-10px,10px) rotate(45deg);
      }
    }
  }
}

%sideways-direction {
  top: calc(50% - 35px);
  @include sides(remcalc($nav-height-sm), remcalc(70));

  @include mq(lg) {
    top: calc(50% - 50px);
    @include sides(remcalc(50), remcalc(100));
    padding-top: remcalc(35);
  }

  &:hover {
    i {
      &:first-of-type {
        transform: rotate(135deg);
      }

      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }
}

.direction {
  display: block;
  position: fixed;
  z-index: $nav-z-index;
  outline: none;
  color: $white;

  &:hover {
    .direction__text {
      opacity: 1;
    }

    .direction__icon::after {
      @include mq(lg) {
        animation: none;
        opacity: 0;
      }
    }
  }

  &--left {
    @extend %sideways-direction;
    left: 0;
    padding-left: remcalc(5);

    @include mq(lg) {
      padding-left: remcalc($direction-offset - 5)
    }

    .direction__text {
      left: 0;
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(-45deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &--right {
    @extend %sideways-direction;
    right: 0;
    padding-right: remcalc(5);

    @include mq(lg) {
      padding-right: remcalc($direction-offset - 5)
    }

    .direction__text {
      right: 0;
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(135deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(135deg);
        }
      }
    }
  }

  &--up {
    @extend %vertical-direction;
    top: 0;
    padding-top: remcalc(5);

    @include mq(lg) {
      padding-top: remcalc($direction-offset)
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(45deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(45deg);
        }
      }
    }
  }

  &--down {
    @extend %vertical-direction;
    bottom: 0;

    .direction__icon {
      @include mq(lg) {
        transform: rotate(225deg);
      }

      &::after {
        @include mq(md, max) {
          margin-bottom: remcalc($direction-offset-sm);
          transform: rotate(225deg);
        }
      }
    }
  }

  &__inner {
    display: block;
    position: relative;
    @include sides(remcalc($direction-size-sm), 100%);
    margin: 0 auto;

    @include mq(lg) {
      @include sides(remcalc($direction-size-lg), remcalc($direction-size-lg));
    }

  }

  &__text {
    position: absolute;
    top: 0;
    line-height: remcalc($direction-size-lg);
    opacity: 0;
    transition: opacity $transition-duration;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);

    @include mq(md, max) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: "";
      display: block;
      @include square(remcalc(18));
      background-image: url(/static/images/arrow.svg);
      background-repeat: no-repeat;
      background-size: 400%;

      @include mq(lg) {
        position: absolute;
        top: remcalc(8.5);
        left: remcalc(8.5);
        @include square(remcalc(12.5));
        background-size: 485%;
        animation: fade-in-out 1s infinite;
      }
    }
  }

  i {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    background: url(/static/images/arrow-line.svg) no-repeat 200%;
    background-position: 0 0.5px;
    transition: transform $transition-duration,
      background-position 0s $page-transition-duration;

    @include mq(lg) {
      display: block;
    }

    &:first-of-type {
      transform: rotate(90deg);
    }
  }
}
