// ======
// Menu navigation and direction buttons
// ========================================

$hamburger-height: 25;
$hamburger-section-height: 4;
$hamburger-center-point: remcalc(($hamburger-height / 2) - ($hamburger-section-height / 2));
$nav-link-height: remcalc(60);
$nav-link-height-lg: remcalc(85);
$circle-link-width: remcalc(15);

// navigation
.nav {
  text-align: left;

  &__menu {
    padding-left: remcalc(16);

    @include mq(lg) {
      padding-left: remcalc(40);
    }

    &--top {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $nav-z-index;
      display: flex;
    }

    &--main {
      @include mq(lg) {
        font-size: remcalc(map-get($font-sizes-body, 'md'));
      }
    }

    &--circles {
      position: absolute;
      bottom: remcalc(60);
      z-index: $nav-z-index - 3;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    margin-top: remcalc(4);

    &--top {
      display: flex;
      align-items: center;
      @include sides(remcalc(35), $nav-link-height);

      @include mq(lg) {
        height: $nav-link-height-lg;
      }

      svg {
        display: block;
        @include square(remcalc(40));
      }
    }

    &--trigger {
      margin-left: remcalc(16);
      transition: margin $transition-duration $transition-duration * 2;

      @include mq(lg) {
        margin-left: remcalc(24);
      }
    }

    &--toppage:nth-child(n+2) {
      margin-top: remcalc(10);
    }

    &--subpage {
      padding-left: remcalc(16);
    }

    &--circle:nth-child(n+2) {
      margin-left: $circle-link-width;
    }
  }

  &__link {
    display: block;
    transition: all $transition-duration;
    color: $white;

    .fill {
      fill: $text-color-light;
    }

    .fill--white {
      transition: all $transition-duration;
    }

    &--current,
    &:hover,
    &:focus {
      color: $orange;

      .fill {
        fill: $orange;
      }
    }

    &--circle {
      border: remcalc(2) solid $orange;
      border-radius: 50%;
      @include square($circle-link-width);
      transition: all $transition-duration;
    }

    &--current {
      &.nav__link--circle {
        background-color: $orange;
      }
    }
  }

  &__hamburger {
    position: relative;
    margin-left: 0;
    @include sides(remcalc(30), remcalc($hamburger-height));

    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: remcalc($hamburger-section-height);
      background-color: $white;
      transition: top $transition-duration $transition-duration,
        opacity $transition-duration $transition-duration,
        transform $transition-duration,
        background-color $transition-duration;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: remcalc(($hamburger-height / 2) - ($hamburger-section-height / 2));
      }

      &:last-child {
        top: remcalc($hamburger-height - $hamburger-section-height);;
      }
    }

    &:hover span {
      background-color: $orange;
    }
  }

  &__slider {
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $nav-z-index - 1;
    @include sides(remcalc(300), 100%);
    padding-top: $nav-link-height;
    transform: translateX(-100%);
    transition: transform $transition-duration;

    @include mq(lg) {
      padding-top: $nav-link-height-lg;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $nav-z-index - 2;
    cursor: pointer;
  }
}

// directions
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

%vertical-direction {
  left: calc(50% - 35px);
  @include sides(remcalc(70), remcalc($nav-height-sm));

  @include mq(lg) {
    left: calc(50% - 50px);
    @include sides(remcalc(100), remcalc(50));
  }

  .direction__text {
    left: remcalc(-35);
    width: remcalc(100);
    text-align: center;
  }

  &:hover {
    i {
      &:first-of-type {
        transform: translate(10px,-10px) rotate(45deg);
      }

      &:last-of-type {
        transform: translate(-10px,10px) rotate(45deg);
      }
    }
  }
}

%sideways-direction {
  top: calc(50% - 35px);
  @include sides(remcalc($nav-height-sm), remcalc(70));

  @include mq(lg) {
    top: calc(50% - 50px);
    @include sides(remcalc(50), remcalc(100));
    padding-top: remcalc(35);
  }

  &:hover {
    i {
      &:first-of-type {
        transform: rotate(135deg);
      }

      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }
}

.direction {
  display: block;
  position: fixed;
  z-index: $nav-z-index - 3;
  outline: none;
  color: $white;

  &:hover {
    .direction__text {
      opacity: 1;
    }

    .direction__icon::after {
      @include mq(lg) {
        animation: none;
        opacity: 0;
      }
    }
  }

  &--left {
    @extend %sideways-direction;
    left: 0;

    @include mq(lg) {
      padding-left: remcalc($direction-offset - 5)
    }

    .direction__text {
      left: 0;
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(-45deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &--right {
    @extend %sideways-direction;
    right: 0;

    @include mq(lg) {
      padding-right: remcalc($direction-offset - 5)
    }

    .direction__text {
      right: 0;
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(135deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(135deg);
        }
      }
    }
  }

  &--up {
    @extend %vertical-direction;
    top: 0;

    @include mq(lg) {
      padding-top: remcalc($direction-offset)
    }

    .direction__icon {
      @include mq(lg) {
        transform: rotate(45deg);
      }

      &::after {
        @include mq(md, max) {
          transform: rotate(45deg);
        }
      }
    }
  }

  &--down {
    @extend %vertical-direction;
    bottom: 0;

    .direction__icon {
      @include mq(lg) {
        transform: rotate(225deg);
      }

      &::after {
        @include mq(md, max) {
          margin-bottom: remcalc($direction-offset-sm);
          transform: rotate(225deg);
        }
      }
    }
  }

  &__inner {
    display: block;
    position: relative;
    @include sides(remcalc($direction-size-sm), 100%);
    margin: 0 auto;

    @include mq(lg) {
      @include sides(remcalc($direction-size-lg), remcalc($direction-size-lg));
    }

  }

  &__text {
    position: absolute;
    top: 0;
    line-height: remcalc($direction-size-lg);
    opacity: 0;
    transition: opacity $transition-duration;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);

    @include mq(md, max) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: "";
      display: block;
      @include square(remcalc(18));
      background-image: url(/static/images/arrow.svg);
      background-repeat: no-repeat;
      background-size: 400%;

      @include mq(lg) {
        position: absolute;
        top: remcalc(8.5);
        left: remcalc(8.5);
        @include square(remcalc(12.5));
        background-size: 485%;
        animation: fade-in-out 1s infinite;
      }
    }
  }

  i {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    background: url(/static/images/arrow-line.svg) no-repeat 200%;
    background-position: 0 0.5px;
    transition: transform $transition-duration,
      background-position 0s $page-transition-duration;

    @include mq(lg) {
      display: block;
    }

    &:first-of-type {
      transform: rotate(90deg);
    }
  }
}
