// ======
// Pages
// ========================================

@keyframes roll {
  10% {
    transform: rotate(2.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake-clockwise {
  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(0deg);
  }

  95% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  80% {
    transform: scale(1);
  }

  85% {
    transform: scale(1.025);
  }

  90% {
    transform: scale(1);
  }

  95% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

.page {
  position: relative;

  &__content {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &--previous {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
    width: remcalc(80);

    @include mq(lg) {
      width: remcalc(150);
    }

    .stroke {
      stroke: darken($white, 20%);
    }

    .fill {
      fill: darken($white, 20%);
    }

    .iconbit {
      transform-origin: 50% 50%;

      &--screwdriver {
        fill: gray;
        animation: roll 3s 2.4s infinite;
      }

      &--spanner {
        animation: shake-clockwise 3s infinite;
      }

      &--at {
        animation: pulse 3s infinite;
      }
    }
  }

  &__inner {
    min-height: 100%;
  }

  &__header {
    padding: 0 remcalc(30) remcalc(25) remcalc(30);

    @include mq(lg) {
      padding: 0 remcalc(50) remcalc(40) remcalc(50);
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__intro {
    margin: remcalc(20) auto 0;
    max-width: remcalc(900);

    @include mq(lg) {
      margin-top: remcalc(40);
    }
  }
}

// keyframe animations
@keyframes in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes in-from-fade {
  100% {
    opacity: 1;
  }
}

@keyframes out-to-left {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes out-to-top {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes out-to-bottom {
  100% {
    transform: translateY(100%);
  }
}

@keyframes out-to-right {
  100% {
    transform: translateX(100%);
  }
}

@keyframes out-to-fade {
  100% {
    opacity: 0;
  }
}
