// ======
// Pages
// ========================================

// JS classes
.js {
  &-changing-page .page__content {
    overflow-y: hidden;
  }

  &-incoming {
    &-top {
      animation: in-from-top $page-transition-duration;

      .page__content--previous {
        top: 100%;
      }
    }

    &-left {
      animation: in-from-left $page-transition-duration;

      .page__content--previous {
        left: 100%;
      }
    }

    &-right {
      animation: in-from-right $page-transition-duration;

      .page__content--previous {
        left: -100%;
      }
    }

    &-bottom {
      animation: in-from-bottom $page-transition-duration;

      .page__content--previous {
        top: -100%;
      }
    }

    &-fade {
      .page__content--current {
        opacity: 0;
        animation: in-from-fade $page-fade-transition-duration $page-fade-transition-duration forwards;
      }

      .page__content--previous {
        animation: out-to-fade $page-fade-transition-duration forwards;
      }
    }
  }

  &-nav-backgrounds {
    .nav,
    .direction {
      background-color: $black-transparent;
    }
  }
}

.direction {
  transition: all $page-transition-duration / 2;

  &.js-hidden-button {
    pointer-events: none;
    opacity: 0;
  }

  &.js-visible-button {
    transform: none;
    opacity: 1;
  }

  &--left {
    &.js-hidden-button {
      transform: translateX(-100%);
    }
  }

  &--right {
    &.js-hidden-button {
      transform: translateX(100%);
    }
  }

  &--up {
    &.js-hidden-button {
      transform: translateY(-100%);
    }
  }

  &--down {
    &.js-hidden-button {
      transform: translateY(100%);
    }
  }
}

// display classes
.is-displayed-lg {
  display: none;

  @include mq(lg) {
    display: block;
  }
}
