// ======
// Pages
// ========================================

// JS classes
.js {
  &-changing-page {
    .page__content {
      overflow-y: hidden;
    }

    .direction__text {
      display: none;
    }
  }

  &-incoming {
    &-top {
      animation: in-from-top $page-transition-duration;

      .page__content--previous {
        top: 100%;
      }
    }

    &-left {
      animation: in-from-left $page-transition-duration;

      .page__content--previous {
        left: 100%;
      }
    }

    &-right {
      animation: in-from-right $page-transition-duration;

      .page__content--previous {
        left: -100%;
      }
    }

    &-bottom {
      animation: in-from-bottom $page-transition-duration;

      .page__content--previous {
        top: -100%;
      }
    }

    &-fade {
      .page__content--current {
        opacity: 0;
        animation: in-from-fade $page-fade-transition-duration $page-fade-transition-duration forwards;
      }

      .page__content--previous {
        animation: out-to-fade $page-fade-transition-duration forwards;
      }
    }
  }
}

.js-dark-text {
  .direction,
  .nav a {
    color: $text-color-light;
  }

  .nav__linkcircle {
    @include mq(lg) {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .direction__icon {
    i {
      background-position: -31px;

      &:last-of-type {
        background-position: -31px 0px;
      }
    }

    &::after {
      background-position: -28.5px 0px;
    }
  }
}

.direction {
  transition: all $page-transition-duration / 2;

  &.js-hidden-button {
    pointer-events: none;
    opacity: 0;
  }

  &.js-visible-button {
    transform: none;
    opacity: 1;
  }

  &--left {
    &.js-hidden-button {
      transform: translateX(-100%);
    }
  }

  &--right {
    &.js-hidden-button {
      transform: translateX(100%);
    }
  }

  &--up {
    &.js-hidden-button {
      transform: translateY(-100%);
    }
  }

  &--down {
    &.js-hidden-button {
      transform: translateY(100%);
    }
  }
}

// display classes
.is-displayed-lg {
  display: none;

  @include mq(lg) {
    display: block;
  }
}
