// ==========================================================================
// Helpers
// ==========================================================================


// clearfix hack for containers of floated child elements
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both
  }
}

// spacing
.padding {
	padding: remcalc($padding / 2) 0;

    @include mq(lg) {
		padding: remcalc($padding) 0;
	}

	&--ends {
		padding-top: remcalc(80);
		padding-bottom: remcalc(80);

		@include mq(lg) {
			padding-top: remcalc(120);
			padding-bottom: remcalc(120);
		}
	}
}

// lists without default styles
.list--plain {
	margin: 0;
	padding: 0;
	list-style: none;
}

// buttons without default styles
.button--clear {
	outline: none;
	border: none;
	background: none;
}

// round images/backgrounds
.round {
	border-radius: 50%;
}

// svg paths
circle, .fill, .stroke, .highlightfill {
	transition: all $transition-duration;
}

// type
.font--primary {
	font-family: $font-family--primary;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll {
	overflow: auto;
}
