// =============
// Keyframes available globally
// ============================

@keyframes fade-out-in {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes orangeblink {
	50% {
		border-color: $orange--light;
	}
}

@keyframes roll {
	10% {
		transform: rotate(2.5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake-clockwise {
	80% {
		transform: rotate(0deg);
	}

	85% {
		transform: rotate(5deg);
	}

	90% {
		transform: rotate(0deg);
	}

	95% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes pulse {
	80% {
		transform: scale(1);
	}

	85% {
		transform: scale(1.025);
	}

	90% {
		transform: scale(1);
	}

	95% {
		transform: scale(1.025);
	}

	100% {
		transform: scale(1);
	}
}
