// =============
// Keyframes available globally
// ============================

@keyframes orangeblink {
	50% {
		border-color: $orange--light;
	}
}

@keyframes blink {
	50% {
		opacity: 1;
	}
}

@keyframes fade-out-in {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
