// =============
// Keyframes available globally
// ============================

$regions-keyframes: (
	'move-up': '0,-100%',
	'move-down': '0,100%',
	'move-left': '-100%',
	'move-right': '100%',
);

@each $name, $value in $regions-keyframes {
	@keyframes #{$name} {
		100% {
			transform: translate(#{$value;})
		}
	}
}


@keyframes orangeblink {
	50% {
		border-color: $orange--light;
	}
}
