// =================
// Style the accordion module
// ==========================

$skills-content-hiddenheight: remcalc(100);
$skills-content-padding: remcalc(30);
$skills-heading-height: remcalc(85);

.accordion {
	background: $white;
	margin: 0 auto;
	max-width: remcalc(1000);

	@include mq(md) {
		box-shadow: 0 0 10px transparentize($black, 0.75);
	}

	&__panel {
		&:first-child {
			.accordion__title {
				box-shadow: none;
			}
		}

		@include m(current) {
			.accordion__read {
				display: none;
			}

			.accordion__close {
				@include mq(lg) {
					display: block;
				}
			}

			.accordion__overlay {
				opacity: 0;
				transition: opacity $transition-duration;
			}
		}
	}

	@include e(trigger) {
		display: block;
		position: relative;
		height: $skills-heading-height;
		background: darken($white, 10%);
		line-height: $skills-heading-height;
		color: $text-color-main;
		transition: background $transition-duration;

		&:hover, &:focus {
			background: darken($white, 20%);
		}

		&:hover {
			.accordion__tooltip {
				opacity: 1;
			}
		}
	}

	@include e(title) {
		margin: 0;
		box-shadow: 0 -#{remcalc(30)} remcalc(25) -#{remcalc(10)} $white;
	}

	@include e(tooltip) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: $skills-heading-height;
		padding-right: 30px;
		line-height: $skills-heading-height;
		opacity: 0;
		transition: opacity $transition-duration;

		@include mq(md, max) {
			display: none;
		}
	}

	@include e(close) {
		display: none;
	}

	@include e(content) {
		margin: 0 auto;
		@include sides(90%, $skills-content-hiddenheight);
		max-width: remcalc(750);
		overflow: hidden;
		text-align: left;
		transition: height $transition-duration * 2;
	}

	@include e(contentinner) {
		margin: 0 auto;
		padding: $skills-content-padding 0;

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}