// ================
// Sliding frontcover module
// =========================

$direction-offset-sm: 5;
$direction-offset: 20;
$direction-size-sm: 20;
$direction-size-lg: 30;


%vertical-direction {
	left: calc(50% - 35px);
	@include sides(remcalc(70), remcalc($nav-height-sm));

	@include mq(lg) {
		left: calc(50% - 50px);
		@include sides(remcalc(100), remcalc(50));
	}

	.direction__text {
		left: remcalc(-35);
		width: remcalc(100);
		text-align: center;
	}

	&:hover {
		i {
			&:first-of-type {
				transform: translate(10px,-10px) rotate(45deg);
			}

			&:last-of-type {
				transform: translate(-10px,10px) rotate(45deg);
			}
		}
	}
}

%sideways-direction {
	top: calc(50% - 15px);

	&:hover {
		i {
			&:first-of-type {
				transform: rotate(135deg);
			}

			&:last-of-type {
				transform: rotate(-45deg);
			}
		}
	}
}

.direction {
	display: block;
	position: fixed;
	z-index: $navigation-z-index;
	outline: none;
	color: $white;

	&:hover {
		.direction__text {
			opacity: 1;
		}

		.direction__icon {
			&::after {
				@include mq(lg) {
					animation: none;
					opacity: 0;
				}
			}
		}
	}

	&--prev {
		@extend %sideways-direction;
		left: remcalc(10);

		@include mq(lg) {
			left: remcalc($direction-offset);
		}

		.direction__text {
			left: 0;
		}

		.direction__icon {
			@include mq(lg) {
				transform: rotate(-45deg);
			}

			&::after {
				@include mq(md, max) {
					transform: rotate(-45deg);
				}
			}
		}
	}

	&--next {
		@extend %sideways-direction;
		right: remcalc(10);		

		@include mq(lg) {
			right: remcalc($direction-offset);
		}

		.direction__text {
			right: 0;
		}

		.direction__icon {
			@include mq(lg) {
				transform: rotate(135deg);
			}

			&::after {
				@include mq(md, max) {
					transform: rotate(135deg);
				}
			}
		}
	}

	&--up {
		@extend %vertical-direction;
		top: 0;
		border-radius: 0 0 remcalc($nav-border-radius) remcalc($nav-border-radius);

		.direction__inner {
			margin: remcalc(5) auto 0;

			@include mq(lg) {
				margin-top: remcalc($direction-offset)
			}
		}
		
		.direction__icon {
			@include mq(lg) {
				transform: rotate(45deg);
			}

			&::after {
				@include mq(md, max) {
					transform: rotate(45deg);
				}
			}
		}
	}

	&--down {
		@extend %vertical-direction;
		bottom: 0;
		border-radius: remcalc($nav-border-radius) remcalc($nav-border-radius) 0 0;

		.direction__icon {
			@include mq(lg) {
				transform: rotate(225deg);
			}

			&::after {
				@include mq(md, max) {
					margin-bottom: remcalc($direction-offset-sm);
					transform: rotate(225deg);
				}
			}
		}
	}

	&__inner {
		display: block;
		position: relative;
		margin: 0 auto;
		@include sides(remcalc($direction-size-sm), 100%);

		@include mq(lg) {
			@include sides(remcalc($direction-size-lg), remcalc($direction-size-lg));
		}

	}

	&__text {
		position: absolute;
		top: 0;
		line-height: remcalc($direction-size-lg);
		opacity: 0;
		transition: opacity $transition-duration;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);			

	    @include mq(md, max) {
	    	display: flex;
	    	align-items: center;
		    justify-content: center;
	    }	

		&::after {
			content: "";
			display: block;
			@include square(remcalc(18));
			background-image: url(/static/arrow.svg);
			animation: fade-in-out 1s infinite;
			transition: opacity $transition-duration;

			@include mq(sm, max) {
				background-size: remcalc(32);
			}

			@include mq(lg) {
				position: absolute;
				top: remcalc(8.5);
			    left: remcalc(8.5);
			    @include square(remcalc(12.5));
			}
		}
	}

	i {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		@include square(100%);
		background: url(/static/arrow-line.svg) no-repeat remcalc(-0.5);
		background-size: 160%;
		transition: transform $transition-duration;

		@include mq(md, max) {
			display: none;
		}

		@include mq(md) {
			background-size: cover;
		}

		&:first-of-type {
			transform: rotate(90deg);
		}
	}
}