// =================
// Style the colour-shifting demos menu
// ====================================

.demosfeature {
	margin: 0 auto;
	max-width: remcalc(1200);

	@include mq(md) {
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 0 50px $grey-transparent;
	}

	&__item {
		display: inline-block;
		flex: 1 50%;
		transition: background 5s;

		@include mq(lg) {
			flex: 1 50%;
		}
	}

	&__link {
		display: block;
		position: relative;
	    @include square(100%);
	    background: $clean-transparent;
	    color: $white;
	    transition: all $transition-duration;

	    &:hover, &:focus {
	    	background: $black-transparent;

	    	.demosfeature__tooltip {
	    		opacity: 1;
	    		transform: translateY(-30px);
	    	}
	    }
	}

	&__text {
		padding: 30px;
		flex-direction: column;
		height: 100%;

		@include mq(lg) {
			padding: 100px;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__description {
		margin: 0;
		text-align: left;
	}

	&__tooltip {
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		opacity: 0;
		transition: opacity $transition-duration, transform 0.4s;

		@include mq(md, max) {
			display: none;
		}
	}
}
