// ================
// Site navigation parent element
// ==============================

// variables namespaced to nav
$nav-circlelink-width: 45;
$nav-circlelink-width-xxl: 50;


.nav {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: $navigation-z-index;
	border-radius: remcalc($nav-border-radius) 0 0 0;
	height: remcalc($nav-height-sm);
	min-width: remcalc(130);
	background-color: rgba(255,255,255,0);
    transition: background-color $transition-duration * 2;

	@include mq(lg) {
		height: remcalc($nav-height-lg);
		padding: 0;
	}

	a { 
		transition: color $transition-duration; 
		color: $white; 
	}

	button { 
		transition: color $transition-duration;
	}

	&__menu {
		display: flex;
		@include square(100%);
		padding: 0 remcalc(5);
	}

	&__item {
		display: flex;
		flex: 1 0 25%;
		order: 1;
		justify-content: center;
	    align-items: center;
		transition: all 1s;

		@include mq(lg) {
			width: remcalc(70);
			margin: 0;
		}

		@include mq(xxl) {
			width: remcalc(85);
			margin: 0;
		}

		@include m(logo) {
			order: 0;

			.nav__linkcircle {
				padding: remcalc(1);

				@include mq(lg) {
					border: none;
				}
			}

			.nav__icon {
				@include square(100%);
			}

			.nav__linktext {
				display: none;
			}
		}
	}

	@include e(link) {
		display: block;

		@include mq(lg) {
			position: relative;
			margin-bottom: remcalc(5);
		}

		&:hover {
			@include mq(lg) {
				.nav__linktext {
					transform: translate(-50%,remcalc(5));
					opacity: 1;
				}
			}
		}

		@include m(current) {
			.nav__linkcircle {
				@include mq(md, max) {
					background-color: $orange--active;
				}
			}
		}
	}

	@include e(linkcircle) {
		display: flex;
		margin: 0 auto;
		border: remcalc(2) solid $orange--active;
		border-radius: 50%;
		@include square(remcalc(15));
		justify-content: center;
		align-items: center;
	    transition: all $transition-duration;

	    @include mq(lg) {
			@include square(remcalc($nav-circlelink-width));
		}

		@include mq(xxl) {
			@include square(remcalc($nav-circlelink-width-xxl));
		}
	}

	&__icon {
		@include square(62.5%);

		svg {
			@include square(100%);
		}
	}

	@include e(linktext) {
		font-family: $font-family--tertiary;
		
		@include mq(lg) {
			position: absolute;
			left: 50%;
			bottom: -#{remcalc(10)};
			font-size: remcalc(14);
			opacity: 0;
			transform: translateX(-50%);
			transition: all 0.4s;
		}
	}	
}
