// ======
// Main navigable regions
// ======================

.regions {
	@include square(100%);
	position: relative;
	overflow: hidden;
}

.primaryregion {
	@include square(100%);
}

.region {
	position: absolute;
	top: 0;
	left: 0;
	@include square(100%);
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0px;
	}

	&:focus {
		outline: none;
		border: none;
	}

	&__icon {
		display: block;
		margin: 0 auto;
		width: remcalc(80);

		@include mq(lg) {
			width: remcalc(150);
		}

		.stroke {
			stroke: darken($white, 20%);
		}

		.fill {
			fill: darken($white, 20%);
		}

		.iconbit {
			transform-origin: 50% 50%;

			&--screwdriver {
				fill: gray;
				animation: roll 3s 2.4s infinite;
			}

			&--spanner {
				animation: shake-clockwise 3s infinite;
			}

			&--at {
				animation: pulse 3s infinite;
			}
		}
	}

	&__inner {
		min-height: 100%;
	}

	&__header {
		padding: 0 remcalc(30) remcalc(25) remcalc(30);

		@include mq(lg) {
			padding: 0 remcalc(50) remcalc(40) remcalc(50);
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__intro {
		margin: remcalc(20) auto 0;
		max-width: remcalc(900);

		@include mq(lg) {
			margin-top: remcalc(40);
		}
	}
}

.module {
    padding-top: remcalc(25);
    padding-bottom: remcalc(25);

    @include mq(lg) {
        padding-top: remcalc(40);
        padding-bottom: remcalc(40);
    }
}
